@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../statics/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
}
/*swipe*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.linear-bg-hover {
  background: var(--linear, linear-gradient(90deg, #bf264b 0%, #df4b6e 100%));
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
}
.two-lines-trancate {
  white-space: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-height: 1.5rem;
}
.home-container {
  height: fit-content;
}
/*** card hien ra sau khi nhan uu dai****/
.card-service-advisory-container {
  width: 470px;
  height: 823px;
  flex-shrink: 0;
  border-radius: 29px;
  background: linear-gradient(180deg, #c20459 56.89%, #4d0523 100%);
}
.voucher-button-bg {
  background-image: url('../statics/images/hero/buttonVoucher.png');
  background-size: cover;
  width: 142px;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 84px;
  height: 249.6px;
  flex-shrink: 0;
  border-radius: 12px;
  background: linear-gradient(180deg, #c20459 41.39%, #4d0523 100%);
  left: 12px;
  bottom: 180px;
  position: fixed;
  z-index: 999;
  padding: 33px 18px;
  transition: opacity 0.3s, visibility 0.3s;
}
/*video*/
.customer-said-container {
  height: 900px;
  background-image: url('../statics/images/customer-said/wrapper.png');
  background-size: cover;
  margin-bottom: 120px;
}

.modalStyle .ant-modal-content {
  /*pc mode*/
  width: 780px;
  height: 542px;
  border-radius: 40px;
  background: var(--linear, linear-gradient(90deg, #bf264b 0%, #df4b6e 100%));
  padding: 10px;
}
.modalStyleMobile .ant-modal-content {
  /*pc mode*/
  width: 361px;
  height: 482px;
  border-radius: 20px;
  background: var(--linear, linear-gradient(90deg, #bf264b 0%, #df4b6e 100%));
  padding: 7px;
}

.background-customer-said {
  width: auto;
  height: 1300px;
  background-size: cover;
  flex-shrink: 0;
  background-image: url('../statics/images/customer-said/wrapper.png');
}

.card-customer {
  cursor: pointer;
  width: 717px;
  height: 406px;
  z-index: 200;
  flex-shrink: 0;
  border-radius: 45px;
  border: 7px solid #fff;
  background: linear-gradient(
    142deg,
    #fde 0%,
    #fff4f7 27.08%,
    #fff4f7 57.16%,
    #fcc 100%
  );
  display: flex;
}

.logo-container {
  margin-top: 24px;
  gap: 71px;
  display: flex;
  width: 1150px;
  height: 130px;
  justify-content: center;
  align-items: center;
  gap: 71px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #fff;
}

/*3 cards about AURA*/

.ribbon-scope {
  height: 541px;
  bottom: 150px;
  width: 100%;
  position: absolute;
  z-index: 0;
}

/*The form*/
.contact-container {
  position: relative;
  display: flex;
  margin-top: 60px;
  justify-content: flex-end;
  background-size: contain;
  background-image: url('../statics/images/contact-inform/wrapper.png');
}
.girls-contact {
  display: flex;
  flex-direction: column-reverse;
  height: 900px;
  width: auto;
  margin-right: 245px;
}

.form-contact {
  position: relative;
  margin-top: 32px;
  width: 500px;
  height: 530px;
  padding: 16px 0px 39.605px 0px;
  flex-direction: column;
  align-items: center;
  gap: 11.82px;
  flex-shrink: 0;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--linear, linear-gradient(45deg, #fff2de 0%, #fff 100%));
}
.form-contact-small {
  position: relative;
  width: 310px;
  height: 360px;
  /* padding: 16px 0px 39.605px 0px; */
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 23px;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background: var(--linear, linear-gradient(45deg, #fff2de 0%, #fff 100%));
}

.btn-primary-small {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(180deg, #ff499b 0%, #ac001f 100%);
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary-small:hover,
.btn-primary-small:focus {
  border: 0.837px solid #920a23;
  background: linear-gradient(180deg, #c10057 0%, #730033 100%);
}
.btn-primary {
  width: 260px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  border-radius: 12.553px;
  background: linear-gradient(180deg, #ff499b 0%, #ac001f 100%);
  transition: background-color 0.3s, border-color 0.3s; /* Add transition for smooth effect */
}

.btn-primary:hover,
.btn-primary:focus {
  border: 0.837px solid #920a23;
  background: linear-gradient(180deg, #c10057 0%, #730033 100%);
}
.input-contact {
  width: 350px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1.19px solid #bf264b;
  background: #fff;
}
.input-contact::placeholder {
  padding-left: 25px;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.product-container {
  width: calc(100% - 2rem);
  margin-left: 1rem;
}
.carousel-product > div {
  height: 100%;
}
/**/
@media (max-width: 1024px) {
  .card-customer {
    position: relative;
    width: 400px;
    height: 370px;
    text-align: center;
  }
  .background-customer-said {
    height: 700px;
  }
}
@media (max-width: 768px) {
  .voucher-button-bg {
    width: 75px;
    height: 42px;
  }
  .card-customer {
    position: relative;
    width: 400px;
    height: 370px;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .panel-contact {
    width: 40px;
    height: 130px;
    padding: 16px 9px;
    left: 348px;
    bottom: 2%;
  }
  .card-customer {
    position: relative;
    margin-left: 10px;
    z-index: 200;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 350px;
    height: 320px;
    border-radius: 21.563px;
    border: 3.354px solid #fff;
    background: linear-gradient(180deg, #ffdada 0%, #fff 50%, #ffe0e0 100%);
  }
  .background-customer-said {
    width: auto;
    height: 700px;
    background-size: contain;
    flex-shrink: 0;
  }
  .voucher-button-bg {
    width: 75px;
    height: 42px;
  }
  .contact-container {
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    margin-top: 90px;
  }
  .form-contact {
    margin-top: 10px;
    width: 307px;
    height: 366px;
  }
  .input-contact {
    width: 240px;
    height: 37px;
  }
  .btn-primary {
    width: 180px;
    height: 37px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    line-height: normal;
  }
  .background-customer-said {
    height: 700px;
  }
  .customer-said-container {
    background-size: contain;
    height: 333px;
    margin-bottom: 55px;
    /* padding: */
  }
}

* #modal-card > .ant-modal-content {
  padding: 0 !important;
}
