@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://ucarecdn.com/e2a42527-861c-4f2e-96a3-3e6b3cafeedd/-/preview/-/quality/lightest/-/format/webp//');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
}
/*swipe*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
/* Slideshow */

.slideshow {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.slideshowSlider {
  height: 100%;
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1.25rem;
  object-fit: cover;
}

.slideshowDots {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 1rem;
}

.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #bc2449;
}

.two-lines-truncate {
  white-space: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-height: 1.5rem;
}

/*** card hien ra sau khi nhan uu dai****/

.voucher-button-bg {
  background-image: url('https://ucarecdn.com/4324e514-b0a0-4e86-beaf-afe3c0ff9123/-/preview/-/quality/lightest/-/format/webp//');
  background-size: cover;
  width: 142px;
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 64px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 12px;
  background: linear-gradient(180deg, #c20459 41.39%, #4d0523 100%);
  left: 12px;
  bottom: 180px;
  position: fixed;
  z-index: 999;
  padding: 23px 12px;
  transition: opacity 0.3s, visibility 0.3s;
}
/*video*/
.customer-said-container {
  height: 900px;
  background-image: url('https://ucarecdn.com/50206a34-4e1f-4501-b539-007aa7161dca/-/preview/-/quality/lightest/-/format/webp//');
  background-size: cover;
  margin-bottom: 220px;
}

.modalStyle .ant-modal-content {
  /*pc mode*/
  width: 780px;
  height: 542px;
  border-radius: 40px;
  background: var(--linear, linear-gradient(90deg, #bf264b 0%, #df4b6e 100%));
  padding: 10px;
}
.modalStyleMobile {
  margin-right: 17px;
}
.modalStyleMobile .ant-modal-content {
  /*pc mode*/
  width: 361px;
  height: 482px;
  border-radius: 20px;
  background: var(--linear, linear-gradient(90deg, #bf264b 0%, #df4b6e 100%));
  padding: 7px;
}
/*TODO: optimize*/
.background-customer-said {
  width: auto;
  height: 1300px;
  background-size: cover;
  flex-shrink: 0;
  background-image: url('https://ucarecdn.com/3a579a11-3e0d-4a94-9603-c16f1d839ad1/-/preview/-/quality/lightest/-/format/webp//');
}

.card-customer {
  cursor: pointer;
  width: 717px;
  height: 406px;
  z-index: 200;
  flex-shrink: 0;
  border-radius: 45px;
  border: 7px solid #fff;
  background: linear-gradient(
    142deg,
    #fde 0%,
    #fff4f7 27.08%,
    #fff4f7 57.16%,
    #fcc 100%
  );
  display: flex;
}

/*3 cards about AURA*/

/*The form*/
.contact-container {
  position: relative;
  display: flex;
  margin-top: 60px;
  justify-content: flex-end;
  background-size: cover;
  background-image: url('https://ucarecdn.com/9de3b75d-c451-47b4-be4a-4a5f15f937e5/-/preview/-/quality/lightest/-/format/webp/');
}
.girls-contact {
  display: flex;
  flex-direction: column-reverse;
  height: 900px;
  width: auto;
  margin-right: 245px;
}

.form-contact {
  position: relative;
  margin-top: 32px;
  width: 500px;
  height: 530px;
  padding: 16px 0px 39.605px 0px;
  flex-direction: column;
  align-items: center;
  gap: 11.82px;
  flex-shrink: 0;
  border-radius: 30px;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--linear, linear-gradient(45deg, #fff2de 0%, #fff 100%));
}

.btn-primary-small {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(180deg, #ff499b 0%, #ac001f 100%);
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary-small:hover,
.btn-primary-small:focus {
  border: 0.837px solid #920a23;
  background: linear-gradient(180deg, #c10057 0%, #730033 100%);
}
.btn-primary {
  width: 260px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  border-radius: 12.553px;
  background: linear-gradient(180deg, #ff499b 0%, #ac001f 100%);
  transition: background-color 0.3s, border-color 0.3s; /* Add transition for smooth effect */
}

.btn-primary:hover,
.btn-primary:focus {
  border: 0.837px solid #920a23;
  background: linear-gradient(180deg, #c10057 0%, #730033 100%);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.product-container {
  width: calc(100% - 2rem);
  margin-left: 1rem;
}
.carousel-product > div {
  height: 100%;
}
/**/
@media (max-width: 1024px) {
  .card-customer {
    position: relative;
    width: 400px;
    height: 370px;
    text-align: center;
  }
  .background-customer-said {
    height: 700px;
  }
}
@media (max-width: 768px) {
  .voucher-button-bg {
    width: 75px;
    height: 42px;
  }
  .card-customer {
    position: relative;
    width: 400px;
    height: 370px;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .panel-contact {
    width: 40px;
    height: 130px;
    padding: 16px 9px;
    left: 332px;
    bottom: 2%;
  }
  .card-customer {
    position: relative;
    margin-left: 10px;
    z-index: 200;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 350px;
    height: 320px;
    border-radius: 21.563px;
    border: 3.354px solid #fff;
    background: linear-gradient(180deg, #ffdada 0%, #fff 50%, #ffe0e0 100%);
  }
  .background-customer-said {
    width: auto;
    height: 700px;
    background-size: contain;
    flex-shrink: 0;
  }
  .voucher-button-bg {
    width: 75px;
    height: 42px;
  }
  .contact-container {
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    margin-top: 90px;
  }
  .form-contact {
    margin-top: 10px;
    width: 307px;
    height: 366px;
  }

  .btn-primary {
    width: 180px;
    height: 37px;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 800;
    line-height: normal;
  }
  .background-customer-said {
    height: 647px;
  }

  .customer-said-container {
    /**/
    background-size: contain;
    height: 323px;
    margin-bottom: 55px;
    /* padding: */
  }
}

* #modal-card > .ant-modal-content {
  padding: 0 !important;
}
